@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/*
reset toastify
*/
.Toastify__toast {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid black;
  color: black;
}

.Toastify__close-button {
  opacity: 1;
}